

 <!-- BEGIN PAGE BAR -->
 <div class="page-bar">
    <ul class="page-breadcrumb">
       <li>
          <a href="/" translate>common.acceuil</a>
          <i class="fa fa-circle"></i>
       </li>
       <li>
          <a href="/project" translate>project.project</a>
            <i class="fa fa-circle"></i>
       </li>
       <li>
          <span translate>task.task</span>
       </li>
    </ul>
    <div class="page-toolbar">
       <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
          <i class="icon-calendar"></i>&nbsp;
          <span class="thin uppercase hidden-xs"></span>&nbsp;
          <i class="fa fa-angle-down"></i>
       </div>
    </div>
 </div>
 <!-- END PAGE BAR -->
 <h1 class="page-title" *ngIf="project" translate>{{ 'task.gestion' | translate }} {{project.label}}
 </h1>
 <!-- END PAGE TITLE-->
 <!-- END PAGE HEADER-->
 <!-- BEGIN DASHBOARD STATS 1-->
 <div class="clearfix"></div>

 <div class="row" *ngIf="workOrders">
    <div class="col-md-12">
       <!-- Begin: life time stats -->
       <div class="portlet box blue">
          <div class="portlet-title">
             <div class="caption"translate>
                <i class="fa fa-list" ></i>task.liste 
             </div>
             <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="/fournisseur" class="reload"> </a>
                <a href="javascript:;" class="remove"> </a>
             </div>
          </div>
          <div class="portlet-body form">
              <form novalidate [formGroup]="formWo" (ngSubmit)="onSubmitWo()" class="horizontal-form">
                  <div class="form-body">
                     <div class="row">
                        <div class="col-md-3">
                           <div class="form-group" [ngClass]="{
                            'has-danger': formWo.controls.label.invalid && formWo.controls.label.touched,
                            'has-success': formWo.controls.label.valid && formWo.controls.label.touched}">
                              <label translate>task.label</label>
                              <input type="text" class="form-control" formControlName="label">
                              <span class ="label label-danger" *ngIf="formWo.controls.label.invalid && formWo.controls.label.touched" translate>common.message.required</span>
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="form-group" [ngClass]="{
                            'has-danger': formWo.controls.estimatedCost.invalid && formWo.controls.estimatedCost.touched,
                            'has-success': formWo.controls.estimatedCost.valid && formWo.controls.estimatedCost.touched}">
                              <label translate>task.estimatedCost</label>
                              <input type="number" class="form-control" formControlName="estimatedCost">
                              <span class ="label label-danger" *ngIf="formWo.controls.estimatedCost.invalid && formWo.controls.estimatedCost.touched" translate>common.message.required</span>
                           </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" [ngClass]="{
                                'has-danger': formWo.controls.estimatedEndDate.invalid && formWo.controls.estimatedEndDate.touched,
                                'has-success': formWo.controls.estimatedEndDate.valid && formWo.controls.estimatedEndDate.touched}">
                               <label translate>task.estimatedEndDate</label>
                               <input type="date" class="form-control" formControlName="estimatedEndDate" useValueAsDate>
                               <span class ="label label-danger" *ngIf="formWo.controls.estimatedEndDate.invalid && formWo.controls.estimatedEndDate.touched" translate>common.message.required</span>
                            </div>
                         </div>
                         <div class="col-md-2">
                            <div class="form-group" [ngClass]="{
                                'has-danger': formWo.controls.ressource.invalid && formWo.controls.ressource.touched,
                                'has-success': formWo.controls.ressource.valid && formWo.controls.ressource.touched}">
                              <label ><a href="/resource" translate>task.resource</a> + </label>
                                <select class="form-control" formControlName="ressource" [compareWith]="byResourceId">
                                  <option *ngFor="let element of resources" [ngValue]="element">
                                    {{ element.code }}
                                  </option>
                                </select>
                                <span class ="label label-danger" *ngIf="formWo.controls.ressource.invalid && formWo.controls.ressource.touched" translate>common.message.required</span>
                            </div>
                         </div> 
                         <div class="col-md-2">
                            <div class="form-group form-actions right">
                                <button type="button" class="btn default" (click)="resetWo()" translate>common.cancel</button>
                                <button type="submit" class="btn blue" [disabled]="!formWo.valid" translate>
                                <i class="fa fa-check"></i> common.save</button>
                            </div>
                         </div>                       
                     </div>
                  </div>
                  </form>
          </div>
          <div class="portlet-body">
             
             <div class="table-scrollable">

               <table class="table table-striped table-hover">
                   <thead>
                      <tr>
                         <th>#</th>
                         <th translate>task.label</th>
                         <th translate>task.estimatedCost</th>
                         <th translate>task.estimatedEndDate</th>
                         <th translate>task.ressource</th>
                         <th translate>common.action</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let element of workOrders">
                         <th scope="row">{{element.workorderId}}</th>
                         <td>{{element.label}}</td>
                         <td>{{element.estimatedCost}}</td>
                         <td>{{element.estimatedEndDate | date: 'dd/MM/yyyy'}}</td>
                         <td>{{element.ressource.code}}</td>
                         <td>
                            
                           
                            <a (click)="editWo(element)" class="btn btn-outline btn-circle btn-sm purple" translate>
                            <i class="fa fa-edit"></i> common.edit </a>
                            <a (click)="deleteWo(element)" class="btn btn-outline btn-circle dark btn-sm red" translate>
                            <i class="fa fa-trash-o"></i> common.delete </a>
                            <a (click)="getTasks(element)" class="btn btn-outline btn-circle btn-sm green" translate>
                                <i class="fa fa-arrow-right"></i> common.subtasks </a> 
                         </td>
                      </tr>
                   </tbody>
                </table>
            </div>
          </div>
       </div>
       <!-- END SAMPLE TABLE PORTLET-->
    </div>
 </div>

 <div class="row" *ngIf="tasks">
    <div class="col-md-12">
       <!-- Begin: life time stats -->
       <div class="portlet box green">
          <div class="portlet-title">
             <div class="caption" *ngIf="workOrder">
                <i class="fa fa-list" ></i>{{ 'subtask.liste' | translate }}  {{workOrder.label}}
             </div>
             <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="/fournisseur" class="reload"> </a>
                <a href="javascript:;" class="remove"> </a>
             </div>
          </div>
          <div class="portlet-body form">
              <form novalidate [formGroup]="formTask" (ngSubmit)="onSubmitTask()" class="horizontal-form">
                  <div class="form-body">
                     <div class="row">
                        <div class="col-md-4">
                           <div class="form-group" [ngClass]="{
                            'has-danger': formTask.controls.label.invalid && formTask.controls.label.touched,
                            'has-success': formTask.controls.label.valid && formTask.controls.label.touched}">
                              <label translate>subtask.label</label>
                              <input type="text" class="form-control" formControlName="label">
                              <span class ="label label-danger" *ngIf="formTask.controls.label.invalid && formTask.controls.label.touched" translate>common.message.required</span>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group" [ngClass]="{
                            'has-danger': formTask.controls.taskDate.invalid && formTask.controls.taskDate.touched,
                            'has-success': formTask.controls.taskDate.valid && formTask.controls.taskDate.touched}">
                              <label translate>subtask.taskDate</label>
                              <input type="date" class="form-control" formControlName="taskDate" useValueAsDate>
                              <span class ="label label-danger" *ngIf="formTask.controls.taskDate.invalid && formTask.controls.taskDate.touched" translate>common.message.required</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" [ngClass]="{
                                'has-danger': formTask.controls.cost.invalid && formTask.controls.cost.touched,
                                'has-success': formTask.controls.cost.valid && formTask.controls.cost.touched}">
                               <label translate>subtask.cost</label>
                               <input type="number" class="form-control" formControlName="cost" >
                               <span class ="label label-danger" *ngIf="formTask.controls.cost.invalid && formTask.controls.cost.touched" translate>subtask.message.cost</span>
                            </div>
                         </div> 
                         <div class="col-md-2">
                            <div class="form-group form-actions right">
                                <button type="button" class="btn default" (click)="resetTask()" translate>common.cancel</button>
                                 <button type="submit" class="btn blue" [disabled]="!formTask.valid" translate>
                                 <i class="fa fa-check"></i> common.save</button>
                            </div>
                         </div>                     
                     </div>                  
                  </div>
                  </form>
          </div>
          <div class="portlet-body">
             <div class="table-scrollable">
               <table class="table table-striped table-hover">
                   <thead>
                      <tr>
                         <th>#</th>
                         <th translate>subtask.label</th>
                         <th translate>subtask.taskDate</th>
                         <th translate>subtask.cost</th>
                         <th translate>common.action</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let element of tasks">
                         <th scope="row">{{element.taskId}}</th>
                         <td>{{element.label}}</td>
                         <td>{{element.taskDate | date: 'dd/MM/yyyy'}}</td>
                         <td>{{element.cost}}</td>
                         <td>
                            <a (click)="editTask(element)" class="btn btn-outline btn-circle btn-sm purple" translate>
                            <i class="fa fa-edit"></i> common.edit </a>
                            <a (click)="deleteTask(element)" class="btn btn-outline btn-circle dark btn-sm red" translate>
                            <i class="fa fa-trash-o"></i> common.delete </a>
                         </td>
                      </tr>
                   </tbody>
                </table>
            </div>
          </div>
       </div>
       <!-- END SAMPLE TABLE PORTLET-->
    </div>
 </div>