

 <!-- BEGIN PAGE BAR -->
 <div class="page-bar">
    <ul class="page-breadcrumb">
       <li>
          <a href="/" translate>common.acceuil</a>
          <i class="fa fa-circle"></i>
       </li>
       <li>
          <a href="/project" translate>project.project</a>
            <i class="fa fa-circle"></i>
       </li>
       <li>
          <span translate>task.task</span>
       </li>
    </ul>
    <div class="page-toolbar">
       <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
          <i class="icon-calendar"></i>&nbsp;
          <span class="thin uppercase hidden-xs"></span>&nbsp;
          <i class="fa fa-angle-down"></i>
       </div>
    </div>
 </div>
 <!-- END PAGE BAR -->
 <h1 class="page-title" *ngIf="project" translate>{{ 'task.gestion' | translate }} {{project.label}}
 </h1>
 <!-- END PAGE TITLE-->
 <!-- END PAGE HEADER-->
 <!-- BEGIN DASHBOARD STATS 1-->
 <div class="clearfix"></div>

 <div class="row" *ngIf="workOrders">
    <div class="col-md-12">
       <!-- Begin: life time stats -->
       <div class="portlet box blue">
          <div class="portlet-title">
             <div class="caption"translate>
                <i class="fa fa-list" ></i>task.liste 
             </div>
             <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="/fournisseur" class="reload"> </a>
                <a href="javascript:;" class="remove"> </a>
             </div>
          </div>

          <div class="portlet-body">
             <div class="table-scrollable">
                <form novalidate [formGroup]="formWo" (ngSubmit)="onSubmitWo()" class="horizontal-form">
                    <div class="form-body">
                       <div class="row">
                          <div class="col-md-3">
                             <div class="form-group">
                                <label translate>task.label</label>
                                <input type="text" class="form-control" formControlName="label">
                             </div>
                          </div>
                          <div class="col-md-3">
                             <div class="form-group">
                                <label translate>task.estimatedCost</label>
                                <input type="text" class="form-control" formControlName="estimatedCost">
                             </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                 <label translate>task.estimatedEndDate</label>
                                 <input type="date" class="form-control" formControlName="estimatedEndDate" useValueAsDate>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                <label ><a href="/resource" translate>task.resource</a> + </label>
                                  <select class="form-control" formControlName="ressource">
                                    <option *ngFor="let element of resources" [ngValue]="element" [selected]="ressource != null && ressource != 'undefined' && element.ressourceId === resource.ressourceId">
                                      {{ element.code }}
                                    </option>
                                  </select>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-12 ">
                                 <div class="form-group">
                                    <pre>{{formWo.value | json}}</pre>
                                 </div>
                                 
                              </div>
                             
                           </div>
                          
                       </div>
                    </div>
                    <div class="form-actions right">
                       <button type="button" class="btn default" (click)="resetWo()" translate>common.cancel</button>
                       <button type="submit" class="btn blue" [disabled]="!formWo.valid" translate>
                       <i class="fa fa-check"></i> common.save</button>
                    </div>
                    </form>
               <table class="table table-striped table-hover">
                   <thead>
                      <tr>
                         <th>#</th>
                         <th translate>task.label</th>
                         <th translate>task.estimatedCost</th>
                         <th translate>task.estimatedEndDate</th>
                         <th translate>task.ressource</th>
                         <th translate>common.action</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let element of workOrders">
                         <th scope="row">{{element.workorderId}}</th>
                         <td>{{element.label}}</td>
                         <td>{{element.estimatedCost}}</td>
                         <td>{{element.estimatedEndDate | date: 'dd/MM/yyyy'}}</td>
                         <td>{{element.ressource.code}}</td>
                         <td>
                            
                           
                            <a (click)="editWo(element)" class="btn btn-outline btn-circle btn-sm purple" translate>
                            <i class="fa fa-edit"></i> common.edit </a>
                            <a (click)="deleteWo(element)" class="btn btn-outline btn-circle dark btn-sm red" translate>
                            <i class="fa fa-trash-o"></i> common.delete </a>
                            <a (click)="getTasks(element)" class="btn btn-outline btn-circle btn-sm green" translate>
                                <i class="fa fa-arrow-right"></i> common.subtasks </a> 
                         </td>
                      </tr>
                   </tbody>
                </table>
            </div>
          </div>
       </div>
       <!-- END SAMPLE TABLE PORTLET-->
    </div>
 </div>

 <div class="row" *ngIf="tasks">
    <div class="col-md-12">
       <!-- Begin: life time stats -->
       <div class="portlet box green">
          <div class="portlet-title">
             <div class="caption" *ngIf="workOder">
                <i class="fa fa-list" ></i>{{ 'subtask.liste' | translate }}  {{workOder.label}}
             </div>
             <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="/fournisseur" class="reload"> </a>
                <a href="javascript:;" class="remove"> </a>
             </div>
          </div>
          <div class="portlet-body">
             <div class="table-scrollable">
               <table class="table table-striped table-hover">
                   <thead>
                      <tr>
                         <th>#</th>
                         <th translate>subtask.label</th>
                         <th translate>subtask.taskDate</th>
                         <th translate>subtask.cost</th>
                         <th translate>common.action</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let element of tasks">
                         <th scope="row">{{element.taskId}}</th>
                         <td>{{element.label}}</td>
                         <td>{{element.taskDate | date: 'dd/MM/yyyy'}}</td>
                         <td>{{element.cost}}</td>
                         <td>
                            <a (click)="edit(element)" class="btn btn-outline btn-circle btn-sm purple" translate>
                            <i class="fa fa-edit"></i> common.edit </a>
                            <a (click)="deleteTask(element)" class="btn btn-outline btn-circle dark btn-sm red" translate>
                            <i class="fa fa-trash-o"></i> common.delete </a>
                         </td>
                      </tr>
                   </tbody>
                </table>
            </div>
          </div>
       </div>
       <!-- END SAMPLE TABLE PORTLET-->
    </div>
 </div>