          <!-- BEGIN PAGE BAR -->
           <!-- BEGIN PAGE BAR -->
           <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html" translate>acceuil</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span translate>dashboard</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>&nbsp;
                        <span class="thin uppercase hidden-xs"></span>&nbsp;
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title" translate > gestion.tableaudebord
               
            </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN DASHBOARD STATS 1-->
            <div class="clearfix"></div>
            <!-- END DASHBOARD STATS 1-->

   
      <!-- END CONTENT BODY -->



